player-connection-mode=Listen
player-connection-guid=10197571
player-connection-debug=0
player-connection-project-name=Da Vinci Code
player-connection-ip=172.17.191.81
player-connection-ip=26.93.74.21
player-connection-ip=192.168.56.1
player-connection-ip=192.168.178.237
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
